@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #e3e3e3;
  --border: #e5e4e7;
  --navbar: #ead7ff;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);

  --card: #cecece;
  --error: #ef4444;
  --dark: #2a2a2a;

  --personal: #3cdbff;
  --work: #ffe358;
  --study: #3affbd;
  --health: #ff6363;
  --others: #c5c5c5;

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

.dark {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #212121;
  --border: #2e303a;
  --navbar: #16001c;
  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);

  --whitesmoke: whitesmoke;
  --card: #1c1c1c;
  --error: #b22f2f;

  --personal: #3b82f6;
  --work: #df8d00;
  --study: #10b981;
  --health: #eb0000;
  --others: #6b7280;

  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  color: var(--text);
  background: var(--bg);
}

/* Expose to Tailwind */
@theme inline {
  --color-text: var(--text);
  --color-text-h: var(--text-h);
  --color-bg: var(--bg);
  --color-border: var(--border);
  --color-navbar: var(--navbar);

  --color-accent: var(--accent);
  --color-accent-bg: var(--accent-bg);
  --color-accent-border: var(--accent-border);

  --color-social-bg: var(--social-bg);

  --color-whitesmoke: var(--whitesmoke);
  --color-card: var(--card);
  --color-error: var(--error);
  --color-dark: var(--dark);

  --color-personal: var(--personal);
  --color-work: var(--work);
  --color-study: var(--study);
  --color-health: var(--health);
  --color-others: var(--others);

  --font-sans: var(--sans);
  --font-heading: var(--heading);
  --font-mono: var(--mono);

  --shadow-custom: var(--shadow);
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body {
  margin: 0;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--personal) !important;
}
